.modal-container {
	display: none;
}



.modal-container .modal {
	position: absolute;
	right: -14.2rem;
	top: 8.8rem;
	transition: all 0.4s;
	max-width: 15rem;
	width: 100%;
	box-shadow: 50px 0px 150px var(--bgColor);
}

.label-modal-main input {
	flex: 1 1 auto;
	font-size: 11px;
	font-weight: 500;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid transparent;
	box-shadow: none;
	color: var(--grayText);
	outline: none;
	padding: 0;
}

.label-modal-main input:focus {

	color: var(--black);
}


.label-modal-main input::placeholder {
	color: var(--grayText);
	font-size: 11px;

}

/* .label-modal-main{
	background-color: blue;
} */

/* .MenuDiv .input{
	height: 1.6rem;
} */


.Hovered {
	background-color: var(--lightGrayHover);
}

.Hovered img {
	margin-left: 0.5rem;
}

.Hovered img:hover {
	filter: grayscale(100%) brightness(0);
}


.HoveredRed {
	background-color: var(--lightRed);
}

.MenuSection2 .HoveredRed p {
	font-size: 11px !important;
	color: var(--white) !important;
	font-weight: 400 !important;
	flex-shrink: 0 !important;
}

.HoveredRed img {
	margin-left: 0.5rem;
}

.ScrollLabelList {
	max-height: fit-content;
	overflow: hidden;
	overflow-y: scroll;
	flex-shrink: 0;
	height: 8.4rem;
	margin-right: 0.3rem;
}


.InputList:focus {
	flex-shrink: 0;
}

.InputList:focus::placeholder {
	font-size: 11px;
	color: var(--grayText);
	font-weight: 500;
}

.InputList::placeholder {
	font-size: 11px;
	color: var(--grayText) !important;
	font-weight: 500;
}




.header .HeadText {
	margin-left: 0.9rem;
}


.label-modal-main .header p {
	color: var(--grayText);
	font-size: 14px;
	font-weight: 500;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}




.disabled {
	cursor: not-allowed !important;
	opacity: 0.25;
}


/*  */


.modal1 {
	position: absolute;
	right: -14.1rem;
	bottom: 0.65rem;
	transition: all 0.4s;
	max-width: 14.9rem;
	width: 100%;
	z-index: 5;
	height: fit-content;


}

.modal-container .modal,
.modal1,
.modal2 {
	transition: all 0.5s;
	box-shadow: 50px 0px 150px var(--bgColor);
	border-radius: 0px 30px 30px 0px !important;
	-webkit-border-radius: 0px 30px 30px 0px !important;
	-moz-border-radius: 0px 30px 30px 0px !important;
	-ms-border-radius: 0px 30px 30px 0px !important;
	-o-border-radius: 0px 30px 30px 0px !important;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.modal2 {
	position: absolute;
	right: -14.1rem;
	top: 13rem;
	transition: all 0.4s;
	max-width: 14.9rem;
	width: 100%;
	z-index: 5;
	height: fit-content;
}

.settings-modal-main {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;

}

.calendar-modal-main {
	padding: 0.5rem calc(0.5rem - 2px) 0.5rem 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
}

.switch {
	position: relative;
	display: inline-block;
	width: 1.8rem;
	height: 1rem;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--lightGrayStroke);
	/* Background color when off */
	transition: 0.4s;
	/* Smooth transition for background color */
	padding: 2px;
	border-radius: 100px;
	/* Rounded corners for slider */
}

.slider:before {
	position: absolute;
	top: 50%;
	left: 2px;
	/* Start the thumb from the left */
	transform: translateY(-50%);
	content: "";
	width: 0.7rem;
	height: 0.7rem;
	background-color: var(--white);
	/* Thumb color */
	border-radius: 50%;
	/* Circular thumb */
	transition: 0.4s;
	/* Smooth transition for thumb movement */
}

input:checked+.slider {
	background-color: var(--mainYellow1);
	/* Change background when checked */
}

input:checked+.slider:before {
	left: calc(100% - 0.7rem - 2px);
	/* Move the thumb to the right */
	transition: 0.4s;
}

.slider.round {
	border-radius: 100px;
}

.slider.round:before {
	border-radius: 50%;
}