.SideBar {
    padding: 0.6rem;
    height: 100vh;
}

.SbGroup {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 14.9rem;
    height: calc(100vh - 1.2rem - 2px);
    transition: all 0.5s ease;
}

.SbGroup.hide {
    position: absolute;
    height: 2.7rem;
    width: 8.8rem;
    transition: all 0.3s ease;
}



/* Header Section */
.TopSection {
    padding: 0.8rem 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}

.LogoGroup {
    display: flex;
    align-items: center;
}

.LogoText {
    margin: 0;
    font-weight: 500;
    display: none;
    transition: opacity 0.3s ease;
}

.LogoText.hide {
    display: flex !important;
}

.TopSection .TopSecUp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.IconHover:hover {
    filter: invert(1) grayscale(100%) brightness(0) contrast(100%);
    transition: all 0.5s;
}

.IconHover {
    transition: all 0.5s;
}

.TopSecDown p:first-child {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.TopSecDown p:last-child {
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    color: var(--lightGrayVersion);
    margin-top: 0.1rem;
}

/* Ends */



/* Menu Section Top */
.MenuSection {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.MenuHoverYellow.active {
    background-color: var(--mainYellow);
    transition: all 0.2s;
}

.MenuHoverYellow:not(.active):hover {
    background-color: var(--lightGrayHover);
}

.MenuHoverYellow.active p {
    color: var(--white);
    font-weight: 500;
}

.MenuHoverYellow.active img {
    filter: brightness(0) invert(1);
}

.MenuDiv {
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.6rem;
    padding-inline: 0.6rem;
    border-radius: 5px;
    width: 100% - 0.6rem;
}

.MenuDiv p {
    font-size: 11px;
    font-weight: 400;
    color: var(--grayText);
    margin: 0;
}

/* Ends */



/* SearchSection */
.SearchSection {
    padding: 0.5rem 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SearchSection .SearchInput::placeholder {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: var(--grayText);
}

.SearchSection .SearchInput {
    border: none;
    outline: none;
}

/* Ends */



/* Label Section */
.TopGroup {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.LabelSection {
    padding: 0.5rem calc(0.5rem - 4px) 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.ScrollLabel  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.ScrollLabel:hover {
    overflow-y: scroll;
}

.LabelSection .MenuHoverYellow {
    flex-shrink: 0;
}

.MenuHoverBottom.active {
    background-color: var(--lightGrayHover);
    transition: all 0.2s;
}

.MenuHoverBottom:not(.active):hover {
    background-color: var(--lightGrayHover);
}

.MenuHoverBottom.active p {
    color: var(--black);
    font-weight: 500;
}

.MenuHoverBottom.active img {
    filter: grayscale(100%) brightness(0);

}

/* Scroll */



/* Ends */


/* --------------------------------------------------- */