<div class="SideBar noSelect">
    <div class="SbGroup sectionStyle">
        <div class="TopGroup">

            <div class="TopSection">
                <div class="TopSecUp">
                    <div class="LogoGroup">
                        <img src="./assets/images/Logo/Notes.svg" draggable="false" alt="Logo" />
                        <p class=LogoText>Notes</p>

                    </div>
                    <img class="IconHover IconToggle" src="./assets/images/Icon/Sidebar.svg" draggable="false" />
                </div>
                <div class="TopSecDown">
                    <p>Notes</p>
                    <p>Version 1.1.0</p>
                </div>
            </div>

            <div class="hr"></div>

            <div class="SearchSection">
                <input class='SearchInput' type="text" id="" placeholder='Search' />
                <img class='IconHover' src="./assets/images/Icon/Search.svg" draggable="false" />
            </div>

            <div class="hr"></div>

            <div sideBar class="MenuSection">

                <div [class.active]="router.url === '/'" class="MenuHoverYellow MenuDiv" routerLink="/">
                    <p>My notes</p>
                    <img src="./assets/images/Icon/AddNotes.svg">
                </div>

                <div [class.active]="isLabelsActive" class="MenuHoverBottom MenuDiv" (click)="openModal()">
                    <p>Add labels</p>
                    <img src="./assets/images/Icon/AddLabels.svg">
                </div>

                <div [class.active]="router.url === '/archive'" class="MenuHoverYellow MenuDiv" routerLink="/archive">
                    <p>Archive</p>
                    <img src="./assets/images/Icon/Archive.svg">
                </div>

                <div class="MenuDiv MenuHoverBottom">

                    <p>Calendar</p>
                    <img class='IconHover' src="./assets/images/Icon/Calendar.svg" draggable="false" />
                </div>

            </div>

            <div class="hr"></div>
            <div class="LabelSection">
                <p class="HeadText">Labels</p>
                <span class="ScrollLabel">
                    <div [class.active]="router.url === '/label/'+label.name" class="MenuHoverBottom MenuDiv"
                        *ngFor="let label of Shared.label.list" [routerLink]="['/label', label.name]">
                        <p>{{label.name}} </p>
                        <img src="./assets/images/Icon/Label.svg" draggable="false">
                    </div>
                </span>
            </div>
        </div>

        <div class="BottomGroup">
            <div class="hr"></div>

            <div class="MenuSection">
                <div class="MenuDiv MenuHoverBottom">

                    <p>Refresh</p>
                    <img src="./assets/images/Icon/Refresh.svg" draggable="false" />
                </div>

                <div [class.active]="router.url === '/trash'" routerLink="/trash" class="MenuHoverBottom MenuDiv">
                    <p>Trash</p>
                    <img src="./assets/images/Icon/Trash.svg">
                </div>

                <div class="MenuDiv MenuHoverBottom">
                    <p>Help & Feedback</p>
                    <img src="./assets/images/Icon/Help.svg" draggable="false" />
                </div>

                <div [class.active]="isSettingsActive" class="MenuHoverBottom MenuDiv" (click)="openModal(true)">
                    <p>Settings</p>
                    <img src="./assets/images/Icon/Settings.svg">
                </div>
            </div>
        </div>
    </div>
</div>





<div #modalContainer class="modal-container ">
    <div #modal class="modal">
        <div class="label-modal-main sectionStyle">
            <div class="header">
                <div class="SearchSection">
                    <input class='SearchInput' type="text" id="" placeholder='Search' />
                    <img class='IconHover' src="./assets/images/Icon/Search.svg" draggable="false" />
                </div>
                <div class="hr"></div>
                <div class="MenuSection">
                    <div class="MenuDiv Hovered MenuHoverBottom">
                        <input #labelInput (keydown.enter)="addLabel(labelInput)" type="text"
                            placeholder="Create new label" maxlength="50" (input)="''">
                        <!-- <img #plusIcon (click)="labelInput.value=''" src="./assets/images/Icon/False.svg"
                            draggable="false" /> -->
                        <img class="noSelect" [ngStyle]="{ 'display': labelInput.value ? 'none' : 'block' }"
                            src="./assets/images/Icon/Plus.svg" draggable="false" />

                        <img class="noSelect" #plusIcon (click)="labelInput.value=''"
                            [ngStyle]="{ 'display': labelInput.value ? 'block' : 'none' }"
                            src="./assets/images/Icon/False.svg" draggable="false" />



                        <img class="noSelect" [style.display]="labelInput.value.length ? 'block' : 'none'"
                            (click)="addLabel(labelInput)" src="./assets/images/Icon/True.svg" draggable="false" />
                    </div>
                </div>

                <div class="hr"></div>
                <p class="HeadText ">Label List</p>

                <div #labelError class="MenuSection2" hidden>
                    <div class="MenuDiv HoveredRed">
                        <p>Label already exists</p>
                    </div>
                </div>




                <div class="ScrollLabelList">
                    <div class="MenuSection1" *ngFor="let label of Shared.label.list">
                        <div class="MenuDiv  MenuHoverBottom">

                            <input class="InputList" (focus)="labelIcon.classList.toggle('trash-icon')" #labelInput
                                (keydown.enter)="labelInput.blur()"
                                (blur)="editLabel(label.id!).update(labelInput.value);labelIcon.classList.toggle('trash-icon')"
                                [value]="label.name" type="text" placeholder="Enter label name" maxlength="50">

                            <img class="IconHoverBlack noSelect" #labelIcon (click)="editLabel(label.id!).delete()"
                                src="./assets/images/Icon/Trash.svg" draggable="false" />

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div #settingsModal class="modal-container">
    <div class="modal1">
        <div class="settings-modal-main sectionStyle noSelect">

            <div class="MenuDiv MenuHoverBottom">
                <p>Dark Mode</p>
                <label class="switch">
                    <input type="checkbox" [checked]="isDarkMode" (change)="toggleTheme($event)">
                    <span class="slider round"></span>
                </label>
            </div>


            <div class="MenuDiv MenuHoverBottom">
                <p>Gradient</p>
                <label class="switch">
                    <input type="checkbox" (change)="toggleContainerVisibility($event)" [checked]="isContainerVisible">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="MenuDiv MenuHoverBottom">
                <p>List view</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="MenuDiv MenuHoverBottom">
                <p>Web preview</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="MenuDiv MenuHoverBottom">
                <p>Language</p>
                <img src="./assets/images/Icon/Language.svg" draggable="false" />
            </div>

            <div class="MenuDiv MenuHoverBottom">
                <p>Privacy policy</p>
                <img src="./assets/images/Icon/Help.svg" draggable="false" />
            </div>

        </div>
    </div>
</div>