.SideBar {
    padding: 0.6rem;
    height: 100dvh;
    z-index: 2 !important;
    transition: all 1s ease;

}

.SbGroup {

    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
    height: 100%;
    z-index: 3 !important;
    transition: all 0.4s ease;
}




/* Header Section */
.TopSection {
    padding: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}

.LogoGroup {
    display: flex;
    align-items: center;
}

.LogoText {
    color: var(--black);
}

.LogoGroup img {
    filter: var(--black-filter);
    -webkit-filter: var(--black-filter);
}


.TopSection .TopSecUp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.IconHover:hover {

    transition: all 0.5s;
}

.IconHover {
    transition: all 0.5s;
}

.TopSecDown p:first-child {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}

.TopSecDown p:last-child {
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    color: var(--lightGrayVersion);
    margin-top: 0.1rem;
}

/* Ends */



/* Menu Section Top */
.MenuSection {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.MenuSection1 {
    padding: 0rem 0rem 0rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.MenuSection2 {
    padding: 0rem 0rem 0rem 0.5rem;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.MenuHoverYellow.active {
    background-color: var(--mainYellow);
    transition: all 0.2s;
}

.MenuHoverYellow:not(.active):hover {
    background-color: var(--lightGrayHover);
}

.MenuHoverYellow.active p {
    color: var(--textYellow);
    font-weight: 500;
}

.MenuHoverYellow.active img {
    filter: var(--yellow-filter);
    -webkit-filter: var(--yellow-filter);
}

.IconToggle:hover {
    filter: var(--black-filter);
    -webkit-filter: var(--black-filter);
}

.MenuDiv {
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.6rem;
    padding-inline: 0.5rem;
    border-radius: 5px;
    width: 100% - 0.6rem;
}

.MenuDiv p {
    font-size: 11px;
    font-weight: 400;
    color: var(--grayText);
    margin: 0;
}

/* Ends */



/* SearchSection */
.SearchSection {
    height: 2.25rem;
    padding-inline: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

}

.SearchSection .SearchInput::placeholder {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: var(--grayText);
    background: none;

}

.SearchSection .SearchInput {
    border: none;
    font-size: 12px;
    outline: none;
    padding-bottom: 1px;
    background: none;
}

/* Ends */



/* Label Section */

.LabelSection .HeadText {
    margin-left: 0.4rem;
}

.TopGroup {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.HeadText {
    font-size: 12px !important;
    color: var(--grayText);
    margin: 0.1rem 0rem;
    font-weight: 500;
}


.LabelSection {
    position: relative;
    padding: 0.5rem calc(0.5rem - 4px) 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.FadeBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    height: 1rem;
}

.ScrollLabel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.ScrollLabel:hover {
    overflow-y: scroll;
}

.LabelSection .MenuHoverYellow {
    flex-shrink: 0;
}

.LabelSection .MenuHoverBottom {
    flex-shrink: 0;
}


.MenuHoverBottom.active {
    background-color: var(--lightGrayHover);
    transition: all 0.2s;
}

.MenuHoverBottom:not(.active):hover {
    background-color: var(--lightGrayHover);
}

.MenuHoverBottom.active p {
    color: var(--black);
    font-weight: 500;
}

.MenuHoverBottom.active img {
    filter: var(--black-filter);
    -webkit-filter: var(--black-filter);
}

/*  */


.LogoText {
    display: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 0;
    margin-left: 0.3rem;
    margin-bottom: 0.1rem;
}

.LogoText1 {
    display: none;
    font-weight: 600;
    font-size: 11px;
    border-radius: 5px;
    margin-left: 0.1rem;
    margin-bottom: 0.1rem;
    padding: 0.2rem 0.4rem;
    color: var(--textYellow);
    background-color: var(--mainYellow);
    margin-left: 0.5rem;
}

.EmptyBar {
    display: flex;
}

.BottomGroup {
    display: block;
}

/*  */

/* .LogoText {
    display: none;
    display: flex;
  }
  
  .SbGroup {
    width: 15rem;
    height: calc(100vh - 1.2rem - 2px);
    height: 3.2rem;
    width: 10rem;
  }
  
  .BottomGroup {
    display: block; 
     display: none;
  } */



/* Ends */

/* SearchSection */


.divKeyText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    background-color: var(--lightGrayHover) !important;
    width: fit-content;
    padding-inline: 0.3rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.KeyText {
    line-height: 0;

    color: var(--lightGrayVersion) !important;
    font-size: 9px !important;
    font-weight: 500 !important;

}


/* Ends */




.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 3px; */
}

.nav-button {
    /* padding: 10px;
    font-size: 16px;
    cursor: pointer; */
}

.month-year .month:hover,
.month-year .year:hover {
    background-color: var(--lightGrayHover);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.month-year .month,
.month-year .year {
    padding: 6px 6px;

}

.month-year {
    display: flex;
    align-items: center;
    cursor: pointer;

    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    /* margin-left: 5px; */
}



.month-selector,
.year-selector {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Display months in 3 columns */
    gap: 0.5rem;
    margin-top: 0.5rem
}

.divScrollArea {
    height: 10rem;
    overflow-y: scroll;
    width: 100%;


}


.month-item,
.year-item {
    /* width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer; */
}


.prev-month {
    color: var(--grayText);
}


.month-item:hover,
.year-item:hover {
    background-color: var(--bgColor);
    color: var(--black);

    height: 1.6rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;

    -o-border-radius: 5px;
}


.month-item,
.year-item {
    height: 1.6rem;
    display: flex;
    background-color: var(--lightGrayHover);
    align-items: center;
    justify-content: center;
    padding-inline: 0.5rem;
    font-size: 11px;
    border-radius: 5px;
    font-weight: 500;
    color: var(--grayText);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.date-grid {
    margin-top: 12px;

}

.calendar-header,
.date-grid,
.month-selector {
    margin-right: 2px;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 10px;
    justify-content: space-between;
    width: 100%;
    gap: 5px;

}

.weekday {
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: var(--black);
}


.dates {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;

}

.date-item {

    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    color: var(--grayText);
}

.date-item:hover {
    background-color: var(--lightGrayHover);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--black);
}

.current-day {

    background-color: var(--mainYellow);
    color: var(--textYellow);
    border-radius: 5px;


}

.HoverIconSigle:hover {
    filter: var(--black-filter);
    -webkit-filter: var(--black-filter);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;

}

.HoverIconSigle {
    transition: all 0.2s;
    display: none;
  }
  
  .HoverIconSigle.ng-trigger.ng-trigger-state {
    display: block;  /* Display when custom month or year is selected */
  }
  