.cbox-ph-container {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  margin-top: 0.5rem;
  height: 1.6rem;
  font-size: 11px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--black);



  margin-bottom: 0.5rem;

  &:hover {
  backdrop-filter: blur(100px);

    background-color: var(--bgColorArea);
  
}}



.cboxes {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-line-clamp: 3;

  &.min {
    margin: 0rem 0.5rem;
  }
}


.cbox-container .cbox-note-container {
  color: var(--black);

}

.cbox-container {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  margin-top: 0.5rem;
  height: 1.6rem;
  font-size: 11px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--black);


  background-color: var(--bgColorArea);
  backdrop-filter: blur(100px)
  // border-bottom: 3px solid var(--bgColorArea);


}

//? note body
.cbox-note-container {
  width: 100%;


  &.min {
    width: 90%
  }
}


.cbox-note {


  font-weight: 400;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-left: 0.5rem;
  width: 100%;
  transition: all 1s;

  // &.small {
  //   padding-left: 0px;
  // }

  // &.min {
  //   font-size: 0.750rem;
  // }

  &.ph {
    color: var(--grayText);
    position: absolute;
    pointer-events: none;
    width: 100%;
    font-weight: 500;
  }

  &:focus-visible {
    outline: 0;
  }
}



.cbox-container.done {
  background-color: var(--mainYellow);
  color: var(--textYellow);
}

.cbox-container.done .cbox-done {
  color: var(--textYellow);
}

.cbox-container.done img {
  filter: var(--yellow-filter);
  -webkit-filter: var(--yellow-filter);
  mix-blend-mode: normal;
}
.cbox-ph-container img {
  mix-blend-mode: difference;
  filter: var(--gray-filter);
  -webkit-filter: var(--gray-filter);
}

.cbox-container img:hover {
  filter: var(--black-filter);
  -webkit-filter: var(--black-filter);
  mix-blend-mode: normal;
}

.cbox-container img {
  mix-blend-mode: difference;
  filter: var(--gray-filter);
  -webkit-filter: var(--gray-filter);
}





//? icons
%ic {}

.cbox-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    filter: var(--filter-black);
    -webkit-filter: var(--filter-black);
  }
}

.cbox-plus-icon {
  // background: url(/assets/images/svg/plus.svg) no-repeat center;
  // padding: 8px;
  @extend %ic;
}