//? icons
.icons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  justify-content: space-between;

  %icon {
    opacity: 0.71;
    height: 34px;
    width: 34px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    position: relative;
  }

  .iconsMini {
    margin: 0.2rem 0.1rem 1rem 0.1rem;
  }

  &.min {
    justify-content: center;

    .icons>div {
      margin: 0 2px;
    }
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    padding-inline: 1rem;
    width: 100%;

    %icon {

      background-position: center;
      background-repeat: no-repeat;

    }

    
    .delete {
      @extend %icon;
      background-image: url(/assets/images/svg/delete.svg);
    }

    .restore {
      @extend %icon;
      background-image: url(/assets/images/svg/restore.svg);
    }


  }

  .icons1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
margin-bottom: -0.2rem;
    padding-inline: 0rem;
    width: 100%;

    %icon {

      background-position: center;
      background-repeat: no-repeat;

    }

    
    .delete {
      @extend %icon;
      background-image: url(/assets/images/svg/delete.svg);
    }

    .restore {
      @extend %icon;
      background-image: url(/assets/images/svg/restore.svg);
    }


  }
}





//? pin-icon
.pin-icon {
  opacity: 0.54;
  height: 32px;
  width: 32px;
  right: 14px;
  top: 8px;
  position: absolute;
  background-image: url(/assets/images/svg/pin.svg);
  background-position: center;
  background-repeat: no-repeat;

  &.pinned {
    background-image: url(/assets/images/svg/pin-pinned.svg) !important;
  }

  &:hover {
    opacity: 0.87 !important;
  }
}


// 


