.minLabel  {

      padding-left: 1.3rem;
    margin-bottom: 1rem;
}

.labels-container {
  





    .label-container {
        margin: 8px 8px 0 0;
        display: inline-block;
        border-radius: 12px;
        font-size: 11px;
        font-weight: 500;
        color: var(--grayText);
        text-align: center;
        position: relative;
        background-color: var(--lightGrayHover);
        transition: all 0.5s;
        padding-left: 0.6rem;

        .label {
            min-width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;


            &:hover {
                .cancel-icon {
                    background: url(../images/Icon/False.svg) no-repeat center;
                    display: inline-block;
                    margin: 0.5rem calc(0.6rem + 3px) 0.5rem 0.5rem;
                    display: flex;
                    height: 10px;
                width: 10px;
                    opacity: 1;
                    
                }
            }

            .cancel-icon {
                background: url(../images/Icon/labelTag.svg) no-repeat center;
                height: 10px;
                width: 13px;
                
                margin: 0.5rem 0.6rem 0.5rem 0.5rem;
      
            }
            .cancel-icon:hover {
                filter: var(--black-filter);
            }
        }



    }
}