[data-tooltip="true"] {
    display: none;
    background-color: var(--white);
    border: 1px solid var(--lightGrayStroke);
    outline: 1px solid var(--lightStroke);
    border-radius: 12px;
    z-index: 999;

    &[data-is-tooltip-open="true"] {
        display: block;
    }

    &.moreMenu {
        justify-content: center;
        padding: 0.5rem 0;

        div {
            display: flex;
            align-items: center;
            border: 1px solid transparent;
            margin-inline: 0.5rem;
            font-size: 11px;
            font-weight: 400;
            padding-inline: 0.5rem;
            color: var(--grayText);
            height: 1.6rem;
            margin-bottom: 0.5rem;

            &:hover {
                background-color: var(--lightGrayHover);
                border-radius: 5px;
                cursor: pointer;
                color: var(--black);
            }
        }

        div:last-child {
            margin-bottom: 0;
        }
    }


    &.colorMenu {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0.5rem 0.5rem 0.3rem;
        align-items: flex-start;


        &[data-is-tooltip-open="true"] {
            display: block;
        }

        .first-row {
            display: flex;
            gap: 0.5rem;
            margin-bottom: 0.4rem;

            div {
                border-radius: 50%;
                width: 28px;
                height: 28px;

                border: 2px solid transparent;
                text-align: center;

                &:hover {
                    border: 1px solid var(--lightGrayStroke);
                    outline: 1px solid var(--grayText);
                    cursor: pointer;
                }

                &.nocolor {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 0.3rem;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &.nocolor:hover {
                    border: none;
                    outline: none;
                    filter: invert(1) grayscale(100%) brightness(0) contrast(100%);
                }
            }
        }

        .second-row {
            display: flex;
            gap: 0.5rem;

            div {
                border-radius: 5px;
                width: 28px;
                height: 28px;

                border: 2px solid transparent;
                text-align: center;

                &:hover {
                    border: 1px solid var(--lightGrayStroke);
                    outline: 1px solid var(--grayText);
                    cursor: pointer;
                }

                &.noimage {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-left: 0.3rem;
                }

                &.noimage:hover {
                    border: none;
                    outline: none;
                    filter: invert(1) grayscale(100%) brightness(0) contrast(100%);
                }
            }
        }
    }






    &.labelMenu {
        position: absolute;
        left: 50%;
        top: 20rem;
    transform: translateX(-50%);
        background-color: blue;
        background-color: var(--white);
        border: 1px solid var(--lightGrayStroke);
        outline: 1px solid var(--lightStroke);
        border-radius: 12px;
        z-index: 999;
        right: 0;
        transition: all 0.4s;
        max-width: 15rem;
        width: 100%;
     

        .title {
            font-size: 14px;
            padding: 0 12px;

        }

    }

    .label-list-container {
        // padding: 0.5rem 0;
        display: flex;
        flex-direction: column;

             height: 8.4rem;
  overflow-x: scroll;
        
        margin-right: calc(0.5rem - 2px);
        max-height: fit-content;
        overflow: hidden;
        overflow-y: scroll;
        flex-shrink: 0;
        

        .label-list {
            display: flex;
            height: 1.6rem;
            padding-inline: 0.5rem;
            margin-left: 0.5rem;
            margin-bottom: 0.5rem;




            .label-name {
                font-size: 11px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 1.6rem;
                color: var(--grayText);
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
        }

        .label-list:hover {
            background-color: var(--lightGrayHover);
            border-radius: 5px;
            cursor: pointer;
        }
    }
}


.SearchSection {
    height: 2.25rem;
    padding-inline: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

}

.SearchSection .SearchInput::placeholder {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: var(--grayText);
    background: none;

}

.SearchSection .SearchInput {
    border: none;
    font-size: 12px;
    outline: none;
    padding-bottom: 1px;
    background: none;
}

.HeadText {
    font-size: 12px !important;
    color: var(--grayText);
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}