<div #main [class.main-container]="!isEditing">
    <!--? placeholder -->
    <div #notePlaceholder (click)="notePhClick()" class="placeholder ">
        <p class="input">Add note</p>

        <div class="AddIcon " data-pop="New note with image"> <img src="./assets/images/Icon/Add.svg"></div>
    </div>
    <!--? new note -->
    <div #noteMain class="note-main" hidden>

        <div #noteContainer class="note-container">

            <div [hidden]="noteTitle.innerHTML.length" class="note-title ph"> Title</div>
            <div #noteTitle (input)="updateInputLength({title:noteTitle.innerHTML.length})" (paste)="pasteEvent($event)"
                class="note-title" contenteditable="true" spellcheck="true">
            </div>
            <!--? note OR checkboxes -->
            <ng-container [ngTemplateOutlet]="isCbox.value ? checkboxesTemplate : noteTemplate">
            </ng-container>

            <!--? labels -->
            <div class="labels-container">
                <ng-container *ngFor="let label of labels">
                    <div class="label-container" *ngIf="label.added">
                        <div class="label"><span>{{label.name}}</span>
                            <div class="cancel-icon" (click)="label.added = !label.added"></div>
                        </div>
                    </div>
                </ng-container>
            </div> 
            
        </div>
        <!--? icons -->
        <div class="icons-container icons-container1" *ngIf="!isTrashed;else trashed">
            <div class="icons">



                <span class="ItemHoverAlt">
                    <div class="item itemHover" #notePin data-pinned="false"
                        [class.pinned]="notePin.dataset['pinned'] === 'true'"
                        (click)="notePin.dataset['pinned'] === 'false' ? notePin.dataset['pinned']='true': notePin.dataset['pinned']='false'"
                        [attr.data-pop]="notePin.dataset['pinned'] === 'false' ? 'Pin note' : 'Unpin note'">
                        <img src="./assets/images/Icon/Pin.svg" draggable="false"
                            [ngStyle]="{'display': notePin.dataset['pinned'] === 'true' ? 'none' : 'inline-block'}" />
                        <img src="./assets/images/Icon/Pinned.svg" draggable="false"
                            [ngStyle]="{'display': notePin.dataset['pinned'] === 'false' ? 'none' : 'inline-block'}" />
                    </div>
                    <p class="AltText">Pin</p>

                </span>


                <!-- <span class="ItemHoverAlt">
                    <div class="item itemHover noSelect" #notePin
                         (click)="onNotePinClick(moreMenuTtBtn, labelMenuTt)">
                      <img src="./assets/images/Icon/AddLabels.svg" draggable="false" />
                    </div>
                    <p class="AltText">Label</p>
                  </span> -->

                <span class="ItemHoverAlt">
                    <div class="item itemHover noSelect" #notePin>
                        <img src="./assets/images/Icon/Reminder.svg" draggable="false" />
                    </div>
                    <p class="AltText">Reminder</p>
                </span>

                <span class="ItemHoverAlt">
                    <div class="item itemHover noSelect" (click)="toggleLabelMenu($event)">
                        <img src="./assets/images/Icon/AddLabels.svg" draggable="false" />
                    </div>
                    <p class="AltText">Label</p>
                </span>
                


                <span class="ItemHoverAlt">
                    <div class="item itemHover noSelect " (click)="isArchived = true;saveNote()" data-pop="Archive">
                        <img src="./assets/images/Icon/Archive.svg" draggable="false" />
                    </div>
                    <p class="AltText">Archive</p>
                </span>

                <span class="ItemHoverAlt">
                    <div class="item itemHover noSelect">
                        <img src="./assets/images/Icon/Image.svg" draggable="false" (click)="imageInput.click()" />
                        <input type="file" #imageInput (change)="addImage($event)" style="display:none"
                            accept="image/*" />
                    </div>
                    <p class="AltText">Image</p>
                </span>

                <span class="ItemHoverAlt">
                    <div class="item itemHover noSelect " data-pop="New list" (click)="isCbox.next(true)">
                        <img src="./assets/images/Icon/Task.svg" draggable="false" />
                    </div>
                    <p class="AltText">List</p>
                </span>

                <span class="ItemHoverAlt">
                    <div class="item itemHover noSelect " #colorMenuTtBtn data-pop="Background Options"
                        (click)="openTooltip(colorMenuTtBtn,colorMenuTt)">
                        <img src="./assets/images/Icon/Style.svg" draggable="false" />
                    </div>
                    <p class="AltText">Style</p>
                </span>
                <span class="ItemHoverAlt">
                    <div class="item itemHover noSelect ">
                        <img src="./assets/images/Icon/Draw.svg" draggable="false" />
                    </div>
                    <p class="AltText">Draw</p>
                </span>

                <span class="ItemHoverAlt">
                    <div class="item itemHover noSelect ">
                        <img src="./assets/images/Icon/Undo.svg" draggable="false" />
                    </div>
                    <p class="AltText">Undo</p>
                </span>

                <span class="ItemHoverAlt">
                    <div class="item itemHover noSelect ">
                        <img src="./assets/images/Icon/Rendo.svg" draggable="false" />
                    </div>
                    <p class="AltText">Rendo</p>
                </span>


            </div>





        </div>
        <!--? icons if trashed -->
        <ng-template #trashed>
            <div class="icons-container min">
                <div class="icons">
                    <div class="delete H"></div>
                    <div class="restore H"></div>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<!--* templates -->
<!--* note template -->
<ng-template #noteTemplate>
    <div [hidden]="noteBody.innerHTML.length" class="note-body ph">Take a note…</div>
    <div #noteBody (input)="updateInputLength({body:noteBody.innerHTML.length})" (paste)="pasteEvent($event)"
        class="note-body" contenteditable="true" spellcheck="true">
    </div>


    <div class="icons-container icons-container2">
        <div class="icons1">
           
            <span class="ItemHoverAlt">
                <div class="item itemHover noSelect" (click)="toggleFormatText($event, 'format')" #notePin>
                    <img src="./assets/images/Icon/TextFormat.svg" draggable="false"
                        [ngClass]="{'active': formatVisibility.format}" />
                </div>
                <p class="AltText AltText1">Format</p>
                <div class="FormatText sectionStyle noSelect" *ngIf="formatVisibility.format">
                    <div class="MenuDiv FormatText1">
                        <p>Default</p>
                        <img src="./assets/images/Icon/TextDefault.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Bold</p>
                        <img src="./assets/images/Icon/TextBold.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Italic</p>
                        <img src="./assets/images/Icon/TextItalic.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>UnderLine</p>
                        <img src="./assets/images/Icon/TextUnderline.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Wavy</p>
                        <img src="./assets/images/Icon/TextWave.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Strikethrough</p>
                        <img src="./assets/images/Icon/TextStrikethrough.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Highlight</p>
                        <img src="./assets/images/Icon/TextFill.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Code</p>
                        <img src="./assets/images/Icon/TextCode.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Math</p>
                        <img src="./assets/images/Icon/TextMath.svg">
                    </div>
                </div>
            </span>

            <span class="ItemHoverAlt">
                <div class="item itemHover noSelect" (click)="toggleFormatText($event, 'font')" #notePin>
                    <img src="./assets/images/Icon/TextFont.svg" draggable="false"
                        [ngClass]="{'active': formatVisibility.font}" />
                </div>
                <p class="AltText AltText1">Typeface</p>
                <div class="FormatText sectionStyle" *ngIf="formatVisibility.font">
                    <div class="MenuDiv FormatText1">
                        <p>Sans-Serif</p>
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Serif</p>
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Monospace</p>
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Cursive</p>
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Slab Serif</p>
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Handwriting</p>
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Decorative</p>
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Gothic</p>
                    </div>
                    
                </div>
            </span>

            <span class="ItemHoverAlt">
                <div class="item itemHover noSelect" (click)="toggleFormatText($event, 'align')" #notePin>
                    <img src="./assets/images/Icon/TextAlignLeft.svg" draggable="false"
                        [ngClass]="{'active': formatVisibility.align}" />
                </div>
                <p class="AltText AltText1">Alignment</p>
                <div class="FormatText sectionStyle noSelect" *ngIf="formatVisibility.align">
                    <div class="MenuDiv FormatText1">
                        <p>Align Left</p>
                        <img src="./assets/images/Icon/TextAlignLeft.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Align Right</p>
                        <img src="./assets/images/Icon/TextAlignRight.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Align Center</p>
                        <img src="./assets/images/Icon/TextAlignCenter.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Align Justify</p>
                        <img src="./assets/images/Icon/TextAlignJustify.svg">
                    </div>
                </div>
            </span>

            <span class="ItemHoverAlt">
                <div class="item itemHover noSelect" (click)="toggleFormatText($event, 'textSpacingY')" #notePin>
                    <img src="./assets/images/Icon/TextSpacingY.svg" draggable="false"
                        [ngClass]="{'active': formatVisibility.textSpacingY}" />
                </div>
                <p class="AltText AltText1">Line height</p>
                <div class="FormatText sectionStyle noSelect" *ngIf="formatVisibility.textSpacingY">
                    <div class="MenuDiv FormatText1">
                        <p>Narrow</p>
                        <img src="./assets/images/Icon/TextNarrowY.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Normal</p>
                        <img src="./assets/images/Icon/TextNormalY.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Wide</p>
                        <img src="./assets/images/Icon/TextWideY.svg">
                    </div>
                </div>
            </span>

            <span class="ItemHoverAlt">
                <div class="item itemHover noSelect" (click)="toggleFormatText($event, 'textSpacingX')" #notePin>
                    <img src="./assets/images/Icon/TextSpacingX.svg" draggable="false"
                        [ngClass]="{'active': formatVisibility.textSpacingX}" />
                </div>
                <p class="AltText AltText1">Letter spacing</p>
                <div class="FormatText sectionStyle noSelect" *ngIf="formatVisibility.textSpacingX">
                    <div class="MenuDiv FormatText1">
                        <p>Narrow</p>
                        <img src="./assets/images/Icon/TextNarrowX.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Normal</p>
                        <img src="./assets/images/Icon/TextNormalX.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Wide</p>
                        <img src="./assets/images/Icon/TextWideX.svg">
                    </div>
                </div>
            </span>

            <span class="ItemHoverAlt">
                <div class="item itemHover noSelect" (click)="toggleFormatText($event, 'textCase')" #notePin>
                    <img src="./assets/images/Icon/TextCase.svg" draggable="false"
                        [ngClass]="{'active': formatVisibility.textCase}" />
                </div>
                <p class="AltText AltText1">Case</p>
                <div class="FormatText sectionStyle noSelect" *ngIf="formatVisibility.textCase">
                    <div class="MenuDiv FormatText1">
                        <p>Title case</p>
                        <img src="./assets/images/Icon/TextTitlecase.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Lower case</p>
                        <img src="./assets/images/Icon/TextLowercase.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Upper case</p>
                        <img src="./assets/images/Icon/TextUppercase.svg">
                    </div>
                </div>
            </span>

            <span class="ItemHoverAlt">
                <div class="item itemHover noSelect" (click)="toggleFormatText($event, 'textSize')" #notePin>
                    <img src="./assets/images/Icon/TextSize.svg" draggable="false"
                        [ngClass]="{'active': formatVisibility.textSize}" />
                </div>
                <p class="AltText AltText1">Size</p>
                <div class="FormatText sectionStyle noSelect" *ngIf="formatVisibility.textSize">
                    <div class="MenuDiv FormatText1">
                        <p>Small</p>
                        <img src="./assets/images/Icon/TextPx.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Default</p>
                        <img src="./assets/images/Icon/TextPx.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Medium</p>
                        <img src="./assets/images/Icon/TextPx.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Large</p>
                        <img src="./assets/images/Icon/TextPx.svg">
                    </div>
                </div>
            </span>

            <span class="ItemHoverAlt">
                <div class="item itemHover noSelect" (click)="toggleFormatText($event, 'textList')" #notePin>
                    <img src="./assets/images/Icon/TextList.svg" draggable="false"
                        [ngClass]="{'active': formatVisibility.textList}" />
                </div>
                <p class="AltText AltText1">List style</p>
                <div class="FormatText sectionStyle noSelect" *ngIf="formatVisibility.textList">
                    <div class="MenuDiv FormatText1">
                        <p>Bulleted list</p>
                        <img src="./assets/images/Icon/TextListDot.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Numbered list</p>
                        <img src="./assets/images/Icon/TextListNum.svg">
                    </div>
                </div>
            </span>
            
            <span class="ItemHoverAlt">
                <div class="item itemHover noSelect"  >
                    <img src="./assets/images/Icon/TextLink.svg" draggable="false"/>
                </div>
                <p class="AltText AltText1">Link</p>
            </span>

            <span class="ItemHoverAlt">
                <div class="item itemHover noSelect" (click)="toggleFormatText($event, 'textShortcut')" #notePin>
                    <img src="./assets/images/Icon/TextShortcut.svg" draggable="false"
                        [ngClass]="{'active': formatVisibility.textShortcut}" />
                </div>
                <p class="AltText AltText1">Shortcut</p>
                <div class="FormatText sectionStyle noSection" *ngIf="formatVisibility.textShortcut">
                    <div class="MenuDiv FormatText1">
                        <p>Copy</p>
                        <img src="./assets/images/Icon/Duplicate.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Paste</p>
                        <img src="./assets/images/Icon/Paste.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Cut</p>
                        <img src="./assets/images/Icon/Cut.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Select all</p>
                        <img src="./assets/images/Icon/SelectAll.svg">
                    </div>
                    <div class="MenuDiv FormatText1">
                        <p>Delete</p>
                        <img src="./assets/images/Icon/Clean.svg">
                    </div>
                </div>
            </span>
        </div>
    </div>

    
</ng-template>




<!--* cboxes template -->
<ng-template #checkboxesTemplate>
    <!--? isDone: false -->
    <ng-container [ngTemplateOutlet]="cboxTemplate" [ngTemplateOutletContext]="{ isDone: false }">
    </ng-container>
    <div class="cbox-ph-container">
        <div class="cbox-plus-icon"></div>
        <div class="cbox-note-container">
            <div class="cbox-note ph">List item</div>
            <div #cboxPh (keydown)="cboxPhKeyDown($event)" class="cbox-note" contenteditable="true" spellcheck="true">
            </div>
        </div>
    </div>
    <!--? isDone: true -->
    <ng-container *ngIf="(checkBoxes | cboxDone:true).length">
        <div class="hr"></div>
        <div class="cbox-done-container" (click)="isCboxCompletedListCollapsed = !isCboxCompletedListCollapsed">
            <div [class.rotate]="!isCboxCompletedListCollapsed" class="cbox-arrow"></div>
            <div>
                <span>({{(checkBoxes | cboxDone:true).length}}) Completed item</span>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!isCboxCompletedListCollapsed" [ngTemplateOutlet]="cboxTemplate"
        [ngTemplateOutletContext]="{ isDone: true }">
    </ng-container>

    <!--* cbox template -->
    <ng-template let-isDone="isDone" #cboxTemplate>
        <ng-container *ngFor="let cb of checkBoxes | cboxDone:isDone;let last = last">
            <div class="cbox-container">
                <div class="cbox-move-icon"></div>
                <div [class.done]="cb.done" class="cbox-icon" (click)="cboxTools(cb.id).check()"></div>
                <div class="cbox-note-container">
                    <div #cboxInput [attr.data-cbox-last]="last" [class.cbox-done]="cb.done"
                        (blur)="cboxTools(cb.id).update(cboxInput)" (keydown)="cBoxKeyDown($event,cb.id)"
                        class="cbox-note" contenteditable="true" spellcheck="true" [innerHTML]="cb.data">
                    </div>
                </div>
                <div class="cbox-cancel-icon H" (click)="cboxTools(cb.id!).remove()"></div>
            </div>
        </ng-container>
    </ng-template>
</ng-template>

<!--? --------tooltips-------- -->

<!--? more MENU -->
<div #moreMenuTt data-tooltip="true" data-is-tooltip-open="false" class="moreMenu">
    <div [hidden]="moreMenuEls.delete.disabled" (click)="moreMenu(moreMenuTt).trash()">
        Delete note
    </div>
    <div #labelMenuBtn
        (click)="this.Shared.closeTooltip(moreMenuTt);openTooltip(moreMenuTtBtn!.nativeElement,labelMenuTt)">
        Add label
    </div>
    <!-- <div [hidden]="moreMenuEls.drawing.disabled">{{moreMenuEls.drawing.value}}</div> -->
    <div [hidden]="moreMenuEls.copy.disabled" (click)="moreMenu(moreMenuTt).clone()">
        Make a copy
    </div>
    <div (click)="moreMenu(moreMenuTt).toggleCbox()">
        {{moreMenuEls.checkbox.value}}
    </div>
</div>



<!--? color MENU -->
<div #colorMenuTt data-tooltip="true" data-is-tooltip-open="false" class="colorMenu">
    <div class="first-row">
        <ng-container *ngFor="let color of bgColors | keyvalue">
            <div [attr.data-bg-color]="color.key" [style.background-color]="color.value"
                (click)="colorMenu.bgColor(color.value)" [class.nocolor]="color.value === ''">
                <img *ngIf="color.value === ''" src="assets/images/Icon/noColor.svg">
            </div>
        </ng-container>
    </div>
    <div class="second-row">
        <ng-container *ngFor="let image of bgImages | keyvalue">
            <div [attr.data-bg-image]="image.key" [style.background-image]="image.value | ph"
                (click)="colorMenu.bgImage(image.value)" [class.noimage]="image.value === ''">
                <img *ngIf="image.value === ''" src="assets/images/Icon/noImage.svg">
            </div>
        </ng-container>
    </div>



</div>
<!--? label MENU -->
<div #labelMenuTt data-tooltip="true" data-is-tooltip-open="false" class="labelMenu">
    <div class="SearchSection">
        <input class='SearchInput' type="text" id="" placeholder='Search' />
        <img class='IconHover' src="./assets/images/Icon/Search.svg" draggable="false" />
    </div>
    <div class="hr"></div>
    <p class="HeadText">Select Label</p>
    <div class="label-list-container">
        <div class="label-list" *ngFor="let label of labels" (click)="label.added = !label.added">
            <div class="label-name">{{label.name}}</div>
           
            <img 
            [src]="label.added ? '../../../assets/images/Icon/CheckMark.svg' : '../../../assets/images/Icon/NoCheckMark.svg'" 
            draggable="false" 
            (click)="$event.stopPropagation(); label.added = !label.added">
              
              
            
        </div>
    </div>
</div>
