


.main-container {
  margin: auto;
  max-width: 35rem;
  width: 100%;
  position: relative;
}

.placeholder .input {
  padding-inline: 1.5rem;
  height: 3.3rem;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--lightGrayStroke);
  border-radius: 12px;
  outline: 1px solid var(--lightStroke);
  display: flex;
  align-items: center;
  padding-bottom:0.1rem ;
}


.placeholder .input {
  font-size: 16px;
  font-weight: 500;
  color: var(--grayText);
}

.placeholder .check,
.placeholder .paint {
  height: 46px;
  position: absolute;
  top: 1px;
  width: 46px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.54;
}

.placeholder .AddIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
}

.placeholder .check:hover,
.placeholder .paint:hover,
.placeholder .picture:hover {
  opacity: 0.87;
}

.placeholder .AddIcon:hover {
  filter: invert(1) grayscale(100%) brightness(0) contrast(100%);
}

.placeholder .check.pop::before,
.placeholder .paint.pop::before,
.placeholder .picture.pop::before {
  top: 45px;
}

.placeholder .check {
  background-image: url(/assets/images/svg/check.svg);
  right: 121px;
}

.placeholder .paint {
  background-image: url(/assets/images/svg/paint.svg);
  right: 67px;
}

.placeholder .AddIcon {
  right: 0px;
  margin-right: 1.5rem;
}

.note-main {
  /* background-color: var(--white); */
  background-color: var(--white);
  border: 1px solid var(--lightGrayStroke);
  border-radius: 12px;
  outline: 1px solid var(--lightStroke);
}

.note-main .note-container {
  background-position-x: right;
  background-position-y: bottom;
  background-size: cover;
  background-color: var(--lightGrayHover);
  border-radius: 6px;
  margin: 0.5rem;
padding: 0.5rem;

}

.note-main .note-container .note-title {
  padding: 0.4rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note-main .note-container .note-title.ph {
color: var(--grayText);
  position: absolute;
  width: 100%;
  pointer-events: none;
  padding-left: 0.2rem;
}

.note-main .note-container .note-title:focus-visible {
  outline: 0;
}

.note-main .note-container .note-body {

  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  min-height: 46px;
  padding: 13px 0.5rem 12px  0.5rem;
  max-height: 70vh;
  overflow: auto;
}

.note-main .note-container .note-body.ph {
  color: var(--grayText);
  font-weight: 500;
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.note-main .note-container .note-body:focus-visible {
  outline: 0;
}




.icons-container {
  margin-bottom: 0.6rem;

}

/*  */

.ItemHoverAlt {
  position: relative;
}

.ItemHoverAlt:hover .AltText {
  display: block;
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;

}

.AltText {
  display: none;
  margin-top: 0.5rem;
}


.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 1000px;
}




.itemHover:hover img {
  filter: invert(1) grayscale(100%) brightness(0) contrast(100%);
}

.AddImage{
  border: 1px solid var(--grayText);
  width: 30px;
  height: 30px;
margin-bottom: 0.6rem;
border-radius: 5px;
}