.Canva {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.6rem 1.4rem 0.6rem 0.8rem;
}

.Flex {
    display: flex;
}

.EmptyBar {
    background-color: transparent;
    width: 14.9rem + calc(0.6rem * 2) ;
    height: 100%;
}

.SideNavFixed {
    position: fixed;
}