
<section class="main-section">

    <div class="container noSelect">
        <div class="ball"></div>
        <div class="ball ball1"></div>
        <div class="ball ball2"></div>
      </div>
    <div class="Flex">
        <div class="Flex">
            <app-sidenav class="SideNavFixed"></app-sidenav>
            <div class="EmptyBar"></div>
        </div>
        <div class="Canva">
            <div class="divScrollBg noSelect"></div>
            <app-input class="AppInput"></app-input>
            <div class="BarBottom noSelect"></div>
            <div class="BarTop noSelect">
                <!-- Use Angular click binding -->
                <img src="../../../assets/images/Icon/UpArrow.svg" draggable="false" (click)="scrollToTop()">
            </div>
            <app-notes></app-notes>
        </div>
    </div>
</section>
