<section class="main-section" [class.toggle]="sidenav.isToggled">

    <div class="container noSelect">
        <div class="ball"></div>
        <div class="ball ball1"></div>
        <div class="ball ball2"></div>
    </div>
    <div class="Flex">
        <div class="Flex">
            <app-sidenav #sidenav class="SideNavFixed"></app-sidenav>
            <span class="EmptyBar"></span>

            <div class="SideBarAccount sectionStyle">
                <div class="AccountGroup">
                    <img class="IconHover IconToggle" src="./assets/images/Icon/Sidebar.svg" draggable="false"  />
                    <div class="AccountSection">
                        <img src="../../../assets/images/Icon/UserProfile.svg" draggable="false" />
                    </div>
                </div>
            </div>

        </div>
        <div class="Canva">
            <div class="divScrollBg noSelect"></div>
            <app-input class="AppInput"></app-input>
            <div class="BarBottom noSelect"></div>
            <div class="BarTop noSelect">
                <img src="../../../assets/images/Icon/UpArrow.svg" draggable="false" (click)="scrollToTop()">
            </div>
            <app-notes [isToggled]="sidenav.isToggled"></app-notes>

        </div>

    </div>
</section>