<section class="main-section" [class.toggle]="sidenav.isToggled">

    <div class="container noSelect">
        <div class="ball"></div>
        <div class="ball ball1"></div>
        <div class="ball ball2"></div>
    </div>
    <div class="Flex">
        <div class="Flex">
            <div class="divGroupSidenav">
                <app-sidenav #sidenav class="SideNavFixed"z></app-sidenav>
                <div class="BarRight"></div>
            </div>
            <span class="EmptyBar"></span>

            <div class="SideBarAccount sectionStyle" [ngClass]="{'Accounttoggled': isToggled}">
                <div class="AccountGroup">
                    <img class="IconHover IconToggle noSelect" src="./assets/images/Icon/Sidebar.svg" draggable="false"
                        (click)="toggleImage($event)">
                    <p>Notes</p>
                    <div class="AccountSection noSelect">
                        <img src="../../../assets/images/Icon/UserProfile.svg" draggable="false" />
                    </div>


                </div>

                <div class="divLogAccount">

                    <button type="button" class="login1 MenuDiv">Continue with Google</button>
                    <button type="button" class="login1 MenuDiv">Continue with Apple</button>
                    <p>or continue with email</p>
                    <input type="email" class="inputLog MenuDiv" id="" placeholder="Email">
                    <input type="password" class="inputLog MenuDiv" id="" placeholder="Password">
                    <div class="resetDiv">
                        <p class="resetLog">Reset Password</p>
                    </div>
                    <button type="button" class="login MenuDiv">Log in</button>
                    <button type="button" class="login2 MenuDiv">Sign in</button>

                </div>
            </div>

        </div>
        <div class="Canva">
            <div class="divScrollBg noSelect"></div>
            <app-input class="AppInput"></app-input>
            <div class="BarBottom noSelect"></div>
            <div class="BarTop noSelect">
                <img src="../../../assets/images/Icon/UpArrow.svg" draggable="false" (click)="scrollToTop()">
            </div>

            <app-notes [isToggled]="sidenav.isToggled" ></app-notes>


        </div>

    </div>
</section>

