
.main-section {
    position: relative;
}

.Canva {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.6rem 1.3rem 0.6rem 0.8rem;
scrollbar-width: hidden !important;
overflow: hidden;
}

.Flex {
    display: flex;
    z-index: 999 !important;

}

.EmptyBar {
    background-color: transparent;
    width: 14.9rem + calc(0.6rem * 2) ;
    height: 100%;
}

.SideNavFixed {
    position: fixed;
}

.AppInput {
    display: flex;
    align-items:center ;
    justify-content: center;
    min-height: 45vh;
    height: fit-content;
    z-index: 998;
    background: linear-gradient(to bottom, var(--bgColor) 90%, rgba(234, 234, 234, 0) 100%);

}

.BarBottom {
    position: fixed;
    bottom: 0;
    z-index: 99;
    background: linear-gradient(to top, var(--bgColor) 0%, rgba(234, 234, 234, 0) 100%);
    width: 100%;
    right: 0;
    height: 10rem;
}

.BarTop {
    position: fixed;
    top: 0;
    z-index: 997;
    background: linear-gradient(to bottom, var(--bgColor) 0%, rgba(234, 234, 234, 0) 100%);
display: flex;
justify-content: center;
align-items: center;
    width: 100%;
    right: 0;
    height: 7rem;
}

.BarTop img {
    margin-left: 15.5rem;
    padding: 0.6rem;
    border-radius: 100%;
    background-color: var(--white);
    border: 1px solid var(--lightGrayStroke);
    outline: 1px solid var(--lightStroke);
}

.BarTop img:hover {

    background-color: var(--lightGrayHover);
}

// .BarTop img {
//     margin-left: 15.5rem;
// margin-left: 0;
// }


// .container {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 900px;
//     height: 900px;
//     background-color: lightgray; 
//     overflow: hidden;
// }

// .ball {
//     position: absolute;
//     width: 50px; 
//     height: 50px; 
//     background-color: yellow;
//     border-radius: 50%;
//     filter: blur(1px);
//     animation: symphony 5s ease-in-out infinite;
// }

// .ball1 {
//     animation-delay: 1.5s;
// }

// .ball2 {
//     animation-delay: 2.5s; 
// }

// @keyframes symphony {
//     0% {
//         transform: translateX(0) translateY(0);
//     }
//     25% {
//         transform: translateX(100px) translateY(50px);
//     }
//     50% {
//         transform: translateX(0) translateY(100px);
//     }
//     75% {
//         transform: translateX(-100px) translateY(50px);
//     }
//     100% {
//         transform: translateX(0) translateY(0);
//     }
// }


