
.main-section {
    position: relative;
}

.Canva {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.6rem 1.3rem 0.6rem 0.8rem;
scrollbar-width: hidden !important;
overflow: hidden;
}

.Flex {
    display: flex;
    z-index: 999 !important;

}

.EmptyBar {
    background-color: transparent;
    width: 14.9rem + calc(0.6rem * 2) ;
    height: 100%;
}

.SideNavFixed {
    position: fixed;
}

.AppInput {
    display: flex;
    align-items:center ;
    justify-content: center;
    min-height: 45vh;
    height: fit-content;
    z-index: 14;
    

}

.divScrollBg {
    background: linear-gradient(to bottom, var(--bgColor) 90%, rgba(234, 234, 234, 0) 100%);
    filter: blur(20px);
    height: 44vh;
    width:  10rem;
    position: absolute;
    z-index: 13;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 8rem;
    -webkit-filter: blur(20px);
}

.BarBottom {
    position: fixed;
    bottom: 0;
    z-index: 99;
    background: linear-gradient(to top, var(--bgColor) 0%, rgba(234, 234, 234, 0) 100%);
    width: 100%;
    right: 0;
    height: 10rem;
}

.BarTop {
    position: fixed;
    top: 0;
    z-index: 11;
    background: linear-gradient(to bottom, var(--bgColor) 0%, rgba(234, 234, 234, 0) 100%);
display: flex;
justify-content: center;
align-items: center;
    width: 100%;
    right: 0;
    height: 7rem;
}

.BarTop img {
    margin-left: 15.5rem;
    padding: 0.6rem;
    border-radius: 100%;
    background-color: var(--white);
    border: 1px solid var(--lightGrayStroke);
    outline: 1px solid var(--lightStroke);
}

.BarTop img:hover {

    background-color: var(--lightGrayHover);
}

// .BarTop img {
//     margin-left: 15.5rem;
// margin-left: 0;
// }

    /* Container takes the bottom half of the screen */
    .container {
      
        opacity: var(--container-opacity, 1);
     
     position: relative;
     z-index: 8;
      }
  
      /* Ball styling and animations */
      .ball {
        position: fixed;
        width: 31vw;
        height: 31vw;
      opacity: 0.3;
        background-color: var(--bgAnimation);
        border-radius: 50%;
        margin-top: 15vw;
        margin-left: 70vw;
        animation: moveBall 25s ease-in-out infinite, ballBlur 2s ease-in-out infinite;
      }
  
      .ball1 {
        position: fixed;
        width: 31vw;
        height: 31vw;
      opacity: 0.5;
        background-color: var(--bgAnimation);
        border-radius: 50%;
        margin-top: -20vw;
        margin-left: 10vw;
        animation: moveBall 25s ease-in-out infinite, ballBlur 2s ease-in-out infinite;
      }
  
  
      .ball2 {
        position: fixed;
        width: 31vw;
        height: 31vw;
      opacity: 0.5;
        background-color: var(--bgAnimation);
        border-radius: 50%;
        margin-top: 35vw;
        margin-left: 25vw;
        animation: moveBall 25s ease-in-out infinite, ballBlur 2s ease-in-out infinite;
      }
  
  
      /* Slow and smooth movement along a curved path */
      @keyframes moveBall {
        0% {
          transform: translate(0, 0);
        }
        33% {
          transform: translate(60px, 80px); /* Move right and down */
        }
        66% {
          transform: translate(100px, -50px); /* Move further right and slightly up */
        }
        100% {
          transform: translate(0, 0); /* Return to original position */
        }
      }
  
      /* Keep the blur effect constant */
      @keyframes ballBlur {
        0% {
          filter: blur(80px);
     
        }
        100% {
          filter: blur(70px);;
        }
      }

 
.SideBarAccount {
  position: fixed;
  right: 0.6rem;
  top: 0.6rem;
  height: 3.3rem;
  width: fit-content;
  padding-left: 0.9rem;
  padding-right: 0.65rem;
  display: flex;
  align-items: center;
  justify-content: center;

  & .AccountSection {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColor);
    height: 31px;
    width: 31px;
    border: 1px solid var(--white);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  & .AccountSection:hover {
  outline: 1px solid var(--mainYellow1);
  border: 1px solid var(--white);
}

& .AccountGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}

& .AccountGroup .IconHover:hover{
  filter: var(--black-filter);
  -webkit-filter: var(--black-filter);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

& .AccountGroup .IconHover{
  margin-right: 0.6rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
}
