@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@font-face {
  font-family: 'Emoji';
  src: url('./assets/font/AppleColorEmoji.ttf') format('truetype');
}

@font-face {
  font-family: 'Cascadia-Mono';
  src: url('./assets/font/Cascadia.ttf') format('truetype');
}




:root {
  --bgColor: #EAEAEA;
  --bgColorArea: rgba(236, 236, 236, 0.5);
  --black: #000000;
  --white: #ffffff;
  --mainYellow: #FEEFBE;
  --mainYellow1: #FDD046;
  --textYellow: #BF9102;
  --bgAnimation: #FFE38B;
  --lightGrayHover: #F5F5F5;
  --grayText: #5F5F5F;
  --lightGrayStroke: #E3E3E3;
  --lightStroke: transparent;
  --lightGrayVersion: #AEAEAE;
  --hrLine: #E7E7E7;
  --highlight: #FFE79D;
  --scroll: #D9D9D9;
  --scrollHover: #BDBDBD;
  --lightRed: #ff9b9b;

  --black-filter: invert(1) grayscale(100%) brightness(0) contrast(100%);
  --white-filter: brightness(0) invert(1);
  --gray-filter: brightness(60%) contrast(150%);
  --yellow-filter: brightness(0) saturate(100%) invert(52%) sepia(53%) saturate(2464%) hue-rotate(21deg) brightness(106%) contrast(101%);

  --ColorMenuB: #FAAFA8;
  --ColorMenuC: #F39F76;
  --ColorMenuD: #FFF8B8;
  --ColorMenuE: #E2F6D3;
  --ColorMenuF: #B4DDD3;
  --ColorMenuG: #D4E4ED;
  --ColorMenuH: #AECCDC;
  --ColorMenuI: #D3BFDB;
  --ColorMenuJ: #F6E2DD;
  --ColorMenuK: #E9E3D4;

  --bgImageB: url('/src/assets/images/backgrounds/Light/i1_ph.svg');
  --bgImageC: url('/src/assets/images/backgrounds/Light/i2_ph.svg');
  --bgImageD: url('/src/assets/images/backgrounds/Light/i3_ph.svg');
  --bgImageE: url('/src/assets/images/backgrounds/Light/i4_ph.svg');
  --bgImageF: url('/src/assets/images/backgrounds/Light/i5_ph.svg');
  --bgImageG: url('/src/assets/images/backgrounds/Light/i6_ph.svg');
  --bgImageH: url('/src/assets/images/backgrounds/Light/i7_ph.svg');
  --bgImageI: url('/src/assets/images/backgrounds/Light/i8_ph.svg');
  --bgImageJ: url('/src/assets/images/backgrounds/Light/i9_ph.svg');
  --bgImageK: url('/src/assets/images/backgrounds/Light/i95_ph.svg');

}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", 'Emoji', sans-serif;
  scroll-behavior: smooth;

}


body,
html {
  height: 100%;
  background-color: var(--bgColor);

}




::selection {
  background-color: var(--highlight);
}

.noSelect {
  user-select: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.sectionStyle {
  background-color: var(--white);
  border: 1px solid var(--lightGrayStroke);
  outline: 1px solid var(--lightStroke);
  border-radius: 12px;
}

.HoverYellowStyle {
  background-color: var(--mainYellow);
}


.hr {
  width: 100%;
  height: 1px;
  background-color: var(--hrLine);
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  transition: all;
  cursor: default !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 1000px;
  cursor: default !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 1000px;
  cursor: default !important;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollHover);
  border-radius: 1000px;
  cursor: default !important;
}


.AltText {
  position: absolute;
  background-color: var(--white);
  font-size: 12px;
  font-weight: 500;
  padding: 0.2rem 0.7rem 0.5rem 0.7rem;
  border-radius: 5px;
  color: var(--grayText);
  top: calc(35px + 0.5rem);
  left: 50%;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0s 2s;
  transform: translateX(-50%);
}

.displayNone {
  display: none !important;
}


// -------------------------------------------------------


.H:hover {
  outline: none !important;
  border-radius: 50% !important;
  background-color: rgb(0, 94, 235) !important;
  cursor: pointer !important;
}

.w-100 {
  width: 100% !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.mx-auto {
  margin-inline: auto;
  transition: all 0.7s;
}

.pop:hover::before {
  content: attr(data-pop);
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translate(-50%, 0);
  top: 37px;
  background-color: rgb(255, 0, 0);
  padding: 3px 9px;
  font-size: 15px;
  border-radius: 5px;

}


.IconHoverBlack:hover {
  filter: grayscale(100%) brightness(0);
}

/* ===== Scrollbar CSS ===== */


.displayNone {
  display: none !important
}


//? snackbar AKA toast
@import "~node-snackbar/dist/snackbar.css";

//? cbox
@import "./assets/scss/checkboxes.scss";

//? icons
@import "./assets/scss/icons.scss";

//? labels
@import "./assets/scss/labels.scss";

//? tooltips
@import "./assets/scss/tooltips.scss";


/* Customize the snackbar styles */
.snackbar-container {
  background-color: var(--white) !important;
  border: 1px solid var(--lightGrayStroke) !important;
  outline: 1px solid var(--lightStroke) !important;
  border-radius: 12px !important;
  height: 2.8rem !important;
}

.snackbar-container p {
  color: var(--grayText) !important;
  font-weight: 400 !important;
  font-size: 12px !important;
}

.snackbar-container .action {
  color: var(--mainYellow1) !important;
  font-weight: 500 !important;
  font-size: 12px !important;
}

.snackbar-pos.bottom-left {
  right: -0.7rem;
  left: auto;
  bottom: -0.7rem;
  transform: translateX(0);
}

.EmptyBar {
  background-color: transparent;
  width: 14.9rem + calc(0.6rem * 2);
  height: 100%;
}



@media screen and (max-width: 350px) {}

@media screen and (min-width: 350px) and (max-width: 767px) {}

@media screen and (min-width: 767px) and (max-width: 1024px) {

  .AppInput {
    min-height: 25vh !important;
  }

  .divScrollBg {
    height: 25vh !important;
  }

  .modal-container .modal {

    padding: 0rem 1.3rem 0rem 0.8rem;
  }


}

.SideBar.toggle {
  height: fit-content !important;
}

.SideBar {

  transition: all 1s ease;

  &.toggle {
    .SbGroup {
      width: 11.5rem !important;
      height: fit-content !important;
      transition: all 0.5s ease;
      padding: 0rem ;

      & .SearchSection,
      .MenuSection,
      .LabelSection,
      .BottomGroup,
      .hr,
      .TopSecDown {
        display: none !important;
      }
    }

    .LogoText {
      display: flex !important;
    }

    .LogoText1 {
      display: flex !important;
    }

    .EmptyBar {
      width: 0.5rem !important;
    }

    .BarTop img {
      margin-left: 0rem !important;
    }

    .divScrollBg {
      margin-left: 0rem !important;
    }
  }
}

.main-section.toggle .EmptyBar {
  width: 0.5rem !important;
  transition: width 0.5s ease;
}

.main-section.toggle .BarTop img {
  margin-left: 0rem !important;
  transition: margin-left 0.5s ease;
}

.main-section.toggle .divScrollBg {
  margin-left: 0rem !important;
  transition: margin-left 0.5s ease;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .main-section.toggle .divNoteSection {
    padding-inline: 11.2rem !important;
  }
}

.modal-container.toggle {  
    width: 100% !important;
}