@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --bgColor: #EAEAEA;
  --bgColorArea: rgba(236, 236, 236, 0.5);
  --black: #000000;
  --white: #ffffff;
  --mainYellow: #FDD046;
  --bgAnimation: #FFE38B;
  --lightGrayHover: #F5F5F5;
  --grayText: #5F5F5F;
  --lightGrayStroke: #E3E3E3;
  --lightStroke: transparent;
  --lightGrayVersion: #AEAEAE;
  --hrLine: #E7E7E7;
  --highlight: #FFE79D;
  --scroll: #D9D9D9;
  --scrollHover: #BDBDBD;
  --lightRed: #ff9b9b;

  --black-filter: invert(1) grayscale(100%) brightness(0) contrast(100%);
  --white-filter:  brightness(0) invert(1);
  --gray-filter:  brightness(60%) contrast(150%);
  
  // -----------------------------------------------------------

  // --bgColor: #181818;
  // --bgColorArea: rgb(24, 24, 24, 0.5);
  // --black: #ffffff;
  // --white: #222222;
  // --mainYellow: #af8a1c;
  // --bgAnimation: #503c00;
  // --lightGrayHover: #1d1d1d;
  // --grayText: #AEAEAE;
  // --lightGrayStroke: #333333;
  // --lightStroke: transparent;
  // --lightGrayVersion: #AEAEAE;
  // --hrLine: #313131;
  // --highlight: #FFE79D;
  // --scroll: #434343;
  // --scrollHover: #7D7D7D;
  // --lightRed: #ff9b9b;

  // --black-filter:  brightness(0) invert(1);
  // --white-filter:  brightness(0) invert(1);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  background-color: var(--bgColor);
  
}



::selection {
  background-color: var(--highlight);
}

.noSelect {
  user-select: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.sectionStyle {
  background-color: var(--white);
  border: 1px solid var(--lightGrayStroke);
  outline: 1px solid var(--lightStroke);
  border-radius: 12px;
}

.HoverYellowStyle {
  background-color: var(--mainYellow);
}


.hr {
  width: 100%;
  height: 1px;
  background-color: var(--hrLine);
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  transition: all;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 1000px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 1000px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollHover);
  border-radius: 1000px;
}


.AltText {
  position: absolute;
  background-color: var(--white);
  font-size: 12px;
  font-weight: 500;
  padding: 0.2rem 0.7rem 0.3rem 0.7rem;
  border-radius: 5px;
  color: var(--grayText);
  top: calc(35px + 0.5rem);
  left: 50%;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0s 2s;
  transform: translateX(-50%);
}

.displayNone {
  display: none !important;
}


// -------------------------------------------------------


.H:hover {
  outline: none !important;
  border-radius: 50% !important;
  background-color: rgb(0, 94, 235) !important;
  cursor: pointer !important;
}

.w-100 {
  width: 100% !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.mx-auto {
  margin-inline: auto;
  transition: all 0.7s;
}

.pop:hover::before {
  content: attr(data-pop);
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translate(-50%, 0);
  top: 37px;
  background-color: rgb(255, 0, 0);
  padding: 3px 9px;
  font-size: 15px;
  border-radius: 5px;

}


.IconHoverBlack:hover {
  filter: grayscale(100%) brightness(0);
}

/* ===== Scrollbar CSS ===== */



// .EmptyBar {
//   // display: flex;
//   display: none;
// }

//? snackbar AKA toast
@import "~node-snackbar/dist/snackbar.css";

//? cbox
@import "./assets/scss/checkboxes.scss";

//? icons
@import "./assets/scss/icons.scss";

//? labels
@import "./assets/scss/labels.scss";

//? tooltips
@import "./assets/scss/tooltips.scss";


/* Customize the snackbar styles */
.snackbar-container {
  background-color: var(--white) !important;
  border: 1px solid var(--lightGrayStroke) !important;
  outline: 1px solid var(--lightStroke) !important;
  border-radius: 12px !important;   
  height: 2.8rem !important;  
}

.snackbar-container p{
  color: var(--grayText) !important;
  font-weight: 400 !important;
  font-size: 12px !important;
}

.snackbar-container .action{
color: var(--mainYellow) !important;
font-weight: 500 !important;
font-size: 12px !important;
}

.snackbar-pos.bottom-left {
  right: -0.7rem;
  left: auto;
  bottom: -0.7rem;
  transform: translateX(0);
}
